---
import {
  COMMUNITY_MENU_LIST,
} from "../../../constant";
import { isChinese } from '@i18n/util';
const ifzh = isChinese(Astro);
// const [comt, events, resources] = COMMUNITY_MENU_LIST;

// const { blogDescrip, blogImgs, posts } = await getBlogContentList(
//   HEADER_ACTIVITY_CARD
// ) as any;

---

<docs-menu class="dropdown-docs block bg-secondary rounded-lg">
  <ul class="w-[9.25rem] list-none m-0 p-2">
    {
      COMMUNITY_MENU_LIST.map((item) => {
        const { label, link, translations } = item;
        return (
          <li class={`no-underline cursor-pointer my-1 rounded-lg hover:bg-error`}>
            <a 
              href={ifzh ? link : translations.link}
              class="inline-block w-full p-2 no-underline text-inherit text-neutral" 
            >
              {ifzh ? label : item.translations?.en}
            </a>
          </li>
        )
      })
    }
  </ul>
</docs-menu>

<!-- <MenuContainer>
  <MenuList menuData={{ comt, events, resources }} slot="left" />
  <BlogCardContainer
    blogData={{ categoryMap, blogDescrip, blogImgs, posts }}
    slot="right"
  />
</MenuContainer> -->
